html{
    font-size:20px;
}
body{
    margin:0;
    padding:0;
    background-color:black;
    color:white;
}

.text{
    text-align: center;
    width:100%;
    margin-top:1rem;
    margin-bottom:1.5rem;
    font-size:2rem;
}
.textstatus{
    text-align: center;
    width:100%;
    margin-top:1rem;
    margin-bottom:1.5rem;
    font-size:2rem;
    letter-spacing: 0.5rem;
}
.textlose{
    text-align: center;
    width:100%;
    margin-top:1rem;
    margin-bottom:1.5rem;
    font-size:2rem;
    color:green;
}
.hangman{
    text-align: center;
    width:60%;
    margin:0 auto;
     background-size: cover; 
}
.images{
    width:80%;
}

.checktext{
    display:flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-bottom:0.1rem;
    justify-content:center;
    margin-bottom:2rem;
}

.letter{
    width:1.5rem;
    height:1.5rem;
    padding:1rem;
    border:0.2rem solid white;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    text-align: center;
    font-size:1.5rem;
    cursor: pointer;
    border-radius:1.2rem;
}
.lettergreen{
    width:1.5rem;
    height:1.5rem;
    padding:1rem;
    border:0.2rem solid green;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    text-align: center;
    font-size:1.5rem;
    cursor: pointer;
    border-radius:1.2rem;
}
.letterred{
    width:1.5rem;
    height:1.5rem;
    padding:1rem;
    border:0.2rem solid red;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    text-align: center;
    font-size:1.5rem;
    cursor: pointer;
    border-radius:1.2rem;
}
.letter:hover{
    background-color:#cccccc;
    border-color:rgb(50, 47, 53);
    color:rgb(50, 47, 53);
}

.normal{
    background-color: green;
}
.endpart{
    text-align: center;
}

.endpartwin{
    color:green;
    font-size:2rem;
}

.endpartlose{ 
    color:red;
    font-size:2rem;
}
.btnend{
    margin-top:2rem;
    background-color:black;
    width:60%;
    border:none;
    border:0.1rem solid white;
    color:white;
    font-size:2rem;
    border-radius:2rem;
    margin-bottom:3rem;
}
.btnend:hover{
    cursor:pointer;
    background-color:#cccccc;
    border-color:rgb(50, 47, 53);
    color:rgb(50, 47, 53);
}

@media only screen and (max-width: 600px) {
    html{
        font-size:11px;
    }
    .checktext{
        width:100%;
        margin-bottom:4rem;
    }
    .images{
        width:100%;
    }
    .btnend{
        margin-bottom:5rem;
    }
    .hangman{
        width:100%;
    }
  }